// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

// Calculator form css

.title-text {
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    color: white;
    line-height: 1;
}

.navbar-default {
    background-color: #C11107 !important;
}
.panel {
    top:10%;
}

.card {
    margin-top:30px;
}